@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

body{
    width: 100%;
    background: url(./images/bg.jpg) fixed center;
    background-size: cover;
}
.top{
    display: flex;
    flex-direction: row;
}

.iconArea{
    /* background-color: #c6e2ff; */
    margin-right: 5%;
    margin-top: 3.5%;
}

.icon{
    text-decoration: none;

}

.chat{
    /* background-color: aquamarine; */
    width: auto;
    height: fit-content;
}


.heading{
    display: absolute;
    /* display : contents; */
    width: 100%;
    padding-top: 3%;
    padding-left: 10%;
    margin:auto;
}

.div{
    margin: auto;
    width: fit-content;
}
.ezgaming{
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
    font-size: 4rem;
    font-family: 'Rubik Moonrocks', cursive;
}

.iconText{
    color: #c6e2ff;
    font-size: 1.2rem;
    margin-left: 2px;
}

@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(30,132,242,0.52),
      0 0 21px rgba(30,132,242,0.92),
      0 0 34px rgba(30,132,242,0.78),
      0 0 54px rgba(30,132,242,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
    }
  }
  
  
  


.cards{
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    margin-bottom: 5%;

}
.cards-row{
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.card{
    margin-left: 4rem;
    height: 35rem;
    width: 25rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.card:hover{
    /* transform: scale(1.05); */
    background-color: rgba(255, 255, 255, 0.1);
}

.cardImg{
    margin-top: 3% !important;
    height: 45%;
    width: 92%;
    border-radius: 20px;
    margin: auto;
}

.cardBtn {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92%;
    height: 10%;
    margin: auto;
    margin-bottom: 3% !important;
    border: 0px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    font-size: 1.5rem;
}

.cardBtn a{
    text-decoration: none;
    color: white;
}

.cardBtn:hover{
    transform: scale(1.02);
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color:white;
}
.cardHead{
    font-size: 1.5rem;
}

.cardTxt{
    font-size: 1rem;
}

.credit{
    font-size: 1.1rem;
}


@media only screen and (max-width: 600px) {
    .cards-row{
        display: flex;
        flex-direction: column;
    }
    .ezgaming{
        font-size: 3.5rem;
    }
    .card{
        margin: auto;
        width: 90vw;
        height: 70vh;
        margin-top: 10vh;
    }
    .top{
        flex-direction: row;
        /* background-color: blueviolet; */
    }
    .heading{
        padding-left: 0%;
        padding-top: 10%;
        width: fit-content;
        /* background-color: antiquewhite; */
    }
    .div{
        margin: left;
        /* background-color: aqua; */
        margin-left: 1rem;
    }
    .icon{
        transform: scale(0.6);
        text-decoration: none;
        margin-top: 80%;
        /* background-color: aqua; */
        /* padding-left: 55%; */
    }
    .iconArea{
        width: fit-content;
        margin-right: 0%;
        /* background-color: aliceblue; */
    }
    .iconText{
        display: none;
    }
  }